@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    *{
        font-family: 'nunito';
    }
}

@layer components {
    .main-bg{
        background-color: rgb(78, 115, 223);
    }

    .body-bg{
        background-color: rgb(247, 248, 251);
    }
}